# Server
NODE_ENV=development
PORT=5000

# MongoDB Atlas
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority

# Aiven MySQL Cloud
MYSQL_HOST=<aiven-host>
MYSQL_PORT=26435
MYSQL_USER=<aiven-user>
MYSQL_PASSWORD=<aiven-password>
MYSQL_DATABASE=<database-name>
MYSQL_SSL=true
